@use 'theme/palette-functions' with ($-theme: $theme);
@use 'theme/shadow-functions' with ($-theme: $theme);
@use 'theme/size-functions' with ($-theme: $theme);

.button {
  background: 0 0;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 72px;
}

.container {
  $spacing: size-functions.get-spacing();
  display: flex;
  height: 72px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}
.container-scrolled-from-top {
  background: palette-functions.get-color();
  box-shadow: shadow-functions.get-shadow();
}

.ghost-container {
  margin-bottom: 72px;
}

.home-icon {
  color: palette-functions.get-color();
  font-size: size-functions.get-icon('md');
}
.container-scrolled-from-top .home-icon {
  color: palette-functions.get-color('common', 'white');
}

.left {
  height: 100%;
}
.left-home {
  $spacing: size-functions.get-spacing();
  align-items: center;
  display: flex;
  padding-left: $spacing;
}
.left-recipe {
  cursor: pointer;
}

.right {
  height: 100%;
}

.search-icon {
  color: palette-functions.get-color();
  font-size: size-functions.get-icon('md');
}
.container-scrolled-from-top .search-icon {
  color: palette-functions.get-color('common', 'white');
}
