{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "error"
        ]
      }
    ],
    "no-tabs": [
      "error"
    ],
    "react/prop-types": "off",
    "semi": [
      "error"
    ]
  },
  "settings": {
    "react": {
      "pragma": "h",
      "version": "preact"
    }
  }
}