@use 'theme/palette-functions' with ($-theme: $theme);
@use 'theme/shadow-functions' with ($-theme: $theme);
@use 'theme/size-functions' with ($-theme: $theme);
@use 'theme/font-functions';

.chips {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  margin: size-functions.get-spacing(1.5);
  overflow: hidden;
}

.container {
  background-color: palette-functions.get-color('background', 'paper');
  border-radius: size-functions.get-shape('borderRadius');
  box-shadow: shadow-functions.get_shadow();
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.container:hover {
  box-shadow: shadow-functions.get_shadow(4);
}

.content {
  margin: size-functions.get-spacing();
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 140px;
  object-fit: cover;
  width: 100%;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
