@use 'theme/palette-functions' with ($-theme: $theme);
@use 'theme/typography-functions' with ($-theme: $theme);
@use 'theme/shadow-functions' with ($-theme: $theme);
@use 'theme/size-functions' with ($-theme: $theme);
@use 'theme/font-functions';

.chips {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  margin: size-functions.get-spacing(1.5);
  overflow: hidden;
}

.container {
  background-color: palette-functions.get-color("background", "paper");
  border-radius: size-functions.get-shape("borderRadius");
  box-shadow: shadow-functions.get_shadow();
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 120px;
}

.container:hover {
  box-shadow: shadow-functions.get_shadow(4);
}

.content {
  flex: 1;
  align-items: center;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin: size-functions.get-spacing();
  text-align: center;
}

.titleContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.title {
  font-weight: typography-functions.get("fontWeightBold");
}
