@use 'theme/palette-functions' with ($-theme: $theme);
@use 'theme/shadow-functions' with ($-theme: $theme);
@use 'theme/size-functions' with ($-theme: $theme);
@use 'theme/font-functions';

.container {
  background-color: palette-functions.get-color('background', 'paper');
  border-radius: size-functions.get-shape('borderRadius');
  box-shadow: shadow-functions.get_shadow();
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.container:hover {
  box-shadow: shadow-functions.get_shadow(4);
}

.content {
  padding: size-functions.get-spacing(2);
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 140px;
  object-fit: cover;
  width: 100%;
}
