<!DOCTYPE html>
<html lang="fr">
  <head>
    <noscript>Javascript required</noscript>
    <meta charset="utf-8" />
    <title>Recipes</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimal-ui"
    />
    <meta name="description" content="Recipes" />
    <meta name="msapplication-TileColor" content="#607d8b" />
    <meta
      name="msapplication-TileImage"
      content="./assets/icons/mstile-150x150.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Recipes" />
    <meta name="application-name" content="Recipes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#607d8b" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="./assets/icons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="./assets/icons/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="manifest" href="./manifest.json" />
    <script src="https://kit.fontawesome.com/39bd93c7e2.js" crossorigin="anonymous" defer></script>
  </head>
  <body></body>
</html>
